.cart-container {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.cart-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}

.cart-header {
  padding: 30px;
  border-bottom: 2px solid #ddd;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.cart-header button {
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-out;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 120, 0, 0.8);
}

.cart-header button:active {
  background-color: rgba(255, 120, 1);
}

.cart-header h2 {
  font-weight: 400;
  color: #444;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-weight: bold;
}

.message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message-container h2 {
  font-weight: 400;
  font-size: 36px;
}

.back-btn {
  position: relative;
  top: 0;
  left: 30px;
  font-size: 28px;
  font-weight: 400;
  color: rgb(17, 184, 75);
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  transition: all 300ms;
}

.back-btn:hover {
  color: rgb(0, 219, 77);
}

@media only screen and (max-width: 768px) {
  .cart-wrapper {
    width: 100%;
  }

  .cart-item-content {
    position: relative;
  }

  /* .cart-item-content {
    flex-direction: column;
  } */
}